<!-- Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-sm mb-2 mb-sm-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-no-gutter">
            <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="/admin/shows">Suất Chiếu</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Thêm Suất Chiếu
            </li>
          </ol>
        </nav>

        <h1 class="page-header-title">Thêm Suất Chiếu</h1>
      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Page Header -->

  <div class="row">
    <div class="col-lg">
      <!-- Card -->
      <div class="card mb-3 mb-lg-5">
        <!-- Header -->
        <div class="card-header">
          <h4 class="card-header-title">Thông tin suất chiếu</h4>
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="card-body">
         

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="SKULabel" class="input-label">Phim</label>
                <!-- Select2 -->
                <select
                  class="js-select2-custom custom-select"
                  size="1"
                  style="opacity: 0"
                  data-hs-select2-options='{
                      "placeholder": "Chọn phim",
                      "searchInputPlaceholder": "Tìm phim"
                    }'
                >
                  <option value="1">Vincenzo Cassano</option>
                  <option value="2">Doraemon</option>
                  <option value="3">Conan</option>
                </select>
                <!-- End Select2 -->
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="SKULabel" class="input-label">Rạp</label>
                <!-- Select2 -->
                <select
                  class="js-select2-custom custom-select"
                  size="1"
                  style="opacity: 0"
                  data-hs-select2-options='{
                      "placeholder": "Chọn rạp",
                      "searchInputPlaceholder": "Tìm rạp"
                    }'
                >
                  <optgroup label="CGV">
                    <option value="item-1-1">CGV 1</option>
                    <option value="item-1-2">CGV 2</option>
                  </optgroup>
                  <optgroup label="Cinestar">
                    <option value="item-2-1">Cinestar 1</option>
                    <option value="item-2-2">Cinestar 2</option>
                  </optgroup>
                </select>
                <!-- End Select2 -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="SKULabel" class="input-label">Bắt Đầu</label>
                <div
                  id="projectDeadlineNewProjectFlatpickr1"
                  class="
                    js-flatpickr
                    flatpickr-custom
                    input-group input-group-merge
                  "
                  data-hs-flatpickr-options='{
                   "appendTo": "#projectDeadlineNewProjectFlatpickr1",
                   "enableTime": "true",
                   "dateFormat": "d/m/Y H:i",
                   "wrap": true
                 }'
                >
                  <div class="input-group-prepend" data-toggle>
                    <div class="input-group-text">
                      <i class="tio-date-range"></i>
                    </div>
                  </div>

                  <input
                    type="text"
                    class="flatpickr-custom-form-control form-control"
                    id="projectDeadlineFlatpickrNewProjectLabel"
                    placeholder="Select dates"
                    data-input
                    value="29/06/2020"
                  />
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="SKULabel" class="input-label">Kết Thúc</label>
                <div
                  id="projectDeadlineNewProjectFlatpickr2"
                  class="
                    js-flatpickr
                    flatpickr-custom
                    input-group input-group-merge
                  "
                  data-hs-flatpickr-options='{
                   "appendTo": "#projectDeadlineNewProjectFlatpickr2",
                   "enableTime": "true",
                   "dateFormat": "d/m/Y H:i",
                   "wrap": true
                 }'
                >
                  <div class="input-group-prepend" data-toggle>
                    <div class="input-group-text">
                      <i class="tio-date-range"></i>
                    </div>
                  </div>

                  <input
                    type="text"
                    class="flatpickr-custom-form-control form-control"
                    id="projectDeadlineFlatpickrNewProjectLabel"
                    placeholder="Select dates"
                    data-input
                    value="29/06/2020"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="productNameLabel" class="input-label">Giá Vé
              <i
                class="tio-help-outlined text-body ml-1"
                data-toggle="tooltip"
                data-placement="top"
                title=""
              ></i
            ></label>

            <input
              type="number"
              class="form-control"
              name="productName"
              id="productNameLabel"
              placeholder=""
              aria-label="Shirt, t-shirts, etc."
            />
          </div>

          <!-- Body -->
        </div>
        <!-- End Card -->
      
    </div>
    <!-- End Row -->

    <div
      class="position-fixed bottom-0 content-centered-x w-100 z-index-99 mb-3"
      style="max-width: 40rem"
    >
      <!-- Card -->
      <div class="card card-sm bg-dark border-dark mx-2">
        <div class="card-body">
          <div class="row justify-content-center justify-content-sm-between">
            <div class="col">
              <button type="button" class="btn btn-ghost-danger">Xóa</button>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-ghost-light mr-2">
                Nháp
              </button>
              <button type="button" class="btn btn-primary">Lưu</button>
            </div>
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Content -->
</div>
