<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="User/css/bootstrap.min.css">
    <link rel="stylesheet" href="User/css/all.min.css">
    <link rel="stylesheet" href="User/css/animate.css">
    <link rel="stylesheet" href="User/css/flaticon.css">
    <link rel="stylesheet" href="User/css/magnific-popup.css">
    <link rel="stylesheet" href="User/css/odometer.css">
    <link rel="stylesheet" href="User/css/owl.carousel.min.css">
    <link rel="stylesheet" href="User/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="User/css/nice-select.css">
    <link rel="stylesheet" href="User/css/jquery.animatedheadline.css">
    <link rel="stylesheet" href="User/css/main.css">

    <link rel="shortcut icon" href="User/images/favicon.png" type="image/x-icon">

</head>

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#0" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->

    <%- include(path) %>

        <!-- ==========Newslater-Section========== -->
        <footer class="footer-section">
            <div class="container">
                <div class="footer-top">
                    <div class="logo">
                        <a href="/user/home">
                            <img style="border-radius: 20px;" src="./User/images/logo/logo-cinema.png" alt="logo">
                        </a>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="#0">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="active">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <div class="footer-bottom-area">
                        <div class="left">
                            <p>Copyright © 2020.All Rights Reserved By <a href="#0">Sky Cinema HD </a></p>
                        </div>
                        <ul class="links">
                            <li>
                                <a href="#0">About</a>
                            </li>
                            <li>
                                <a href="#0">Terms Of Use</a>
                            </li>
                            <li>
                                <a href="#0">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#0">FAQ</a>
                            </li>
                            <li>
                                <a href="#0">Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ==========Newslater-Section========== -->


        <script src="User/js/jquery-3.3.1.min.js"></script>
        <script src="User/js/modernizr-3.6.0.min.js"></script>
        <script src="User/js/plugins.js"></script>
        <script src="User/js/bootstrap.min.js"></script>
        <script src="User/js/heandline.js"></script>
        <script src="User/js/isotope.pkgd.min.js"></script>
        <script src="User/js/magnific-popup.min.js"></script>
        <script src="User/js/owl.carousel.min.js"></script>
        <script src="User/js/wow.min.js"></script>
        <script src="User/js/countdown.min.js"></script>
        <script src="User/js/odometer.min.js"></script>
        <script src="User/js/viewport.jquery.js"></script>
        <script src="User/js/nice-select.js"></script>
        <script src="User/js/main.js"></script>
</body>

</html>