 <!-- ==========Preloader========== -->
 <div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ==========Preloader========== -->

<!-- ==========Four-Not-Four-Section========== -->
<section class="section-404 padding-top padding-bottom">
    <div class="container">
        <div class="thumb-404">
            <img src="/user/images/404.png" alt="404">
        </div>
        <h3 class="title" style="font-size: 20px !important;"> Hệ thống đang gặp vấn đề. Chúng tôi đang khắc phục. Vui lòng quay lại sau! </h3>
        <a href="/user/" class="custom-button">Trang chủ<i class="flaticon-right"></i></a>
    </div>
</section>
<!-- ==========Four-Not-Four-Section========== -->